@model IEnumerable<TaskManager.Models.ListUserViewModel>

@{
    ViewBag.Title = "Список пользователей";
}

<h2>Список пользователей:</h2>

<p>
    @Html.ActionLink("Создать создать нового пользователя", "CreateUser")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            <div>

                <span class="ico-back icon-button"></span>
                <span class="ico-edit icon-button" data-id=@item.Id></span>
                <span class="ico-delete icon-button" data-id=@item.Id></span>

            </div>

            @Html.ActionLink("Подробнее", "UserDataDetails", new { id = item.Id })
        </td>
    </tr>
}

</table>

@section script{

    @Scripts.Render("~/Content/Script/TaskManager.js")

    }