@model IEnumerable<TaskManager.Models.UserTasksViewModel>
@{
    ViewBag.Title = "Системная панель";
}

@*<form class="navbar-form navbar-left">
        <div class="form-group">
            <input id="name" class="form-control" type="text" name="name" placeholder="поиск" />
        </div>
        <button id="search" type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </form>*@
@*<p>
        <span title="Новая задача" id="createTask" class="ico-tasklistCreate icon-button" data-id="@ViewBag.ProjectId"></span>
    </p>*@

<h2>Системная панель</h2>

<table class="table table-hover">
    <caption class="text-center">
        <h3>Мои задачи</h3>
    </caption>

    @foreach (var item in Model)
    {

        <tr>
            <th rowspan="2">
                @Html.DisplayFor(modelItem => item.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Действия
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <span hidden="hidden" id="idTask" data-id=@item.TaskId></span>
                <span title="Редактировать задачу" id="TaskEdit" class="ico-edit icon-button"></span>
                <span title="Удалить задачу" id="TaskDelete" class="ico-delete icon-button"></span>
            </td>
        </tr>
    }

</table>
