@model IEnumerable<TaskManager.Models.ListProjectViewModel>

@{
    ViewBag.Title = "Список проектов";
}

<h2>Список проектов</h2>

<p>
    @*<span id="projectCreate" class="ico-createProject icon-button"></span>*@
    @Html.ActionLink("Создать новый проект", "CreateProject")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectManager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateClose)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectManager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateClose)
        </td>
        <td>
            <span title="Редактировать проект" id="projectEdit" class="ico-edit icon-button" data-id=@item.Id></span>
            <span title="Список задач" id="projectTaskList" class="ico-tasklist icon-button" data-id=@item.Id></span>
            <span title="Удалить проект" id="projectDelete" class="ico-delete icon-button" data-id=@item.Id></span>
        </td>
    </tr>
}

</table>

@section script{

    @Scripts.Render("~/Content/Script/TaskManager.js")

    }