@model IEnumerable<TaskManager.Models.ListProjectViewModel>

@{
    ViewBag.Title = "Список проектов";
}

<h2>Список проектов</h2>

<p>
    @Html.ActionLink("Создать новый проект", "CreateProject")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectManager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateClose)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectManager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateClose)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "ProjectEdit", new { id = item.Id }) |
            @Html.ActionLink("Список задач", "ListTask", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

