@model IEnumerable<TaskManager.Models.ListProjectViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateClose)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateClose)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "ProjectEdit", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "ProjectDelete", new { id = item.Id }) |
            @Ajax.ActionLink("Список задач", "ListTask", new { id = item.Id }, new AjaxOptions { UpdateTargetId= "taskRes", LoadingElementId = "loading", LoadingElementDuration = 1000 })
        </td>
    </tr>
}

</table>
